{
  "env": {
    "es6": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-await-in-loop": "off",
    "object-curly-newline": ["error", {
      "consistent": true,
      "minProperties": 5
    }]
  }
}
