{
  "env": {
    "es6": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/extensions": [
      "error",
      "never",
      {
        "js": "always",
        "json": "always"
      }
    ],
    "import/no-import-module-exports": "off",
    "no-await-in-loop": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-prototype-builtins": "off",
    "object-curly-newline": [
      "error",
      {
        "consistent": true,
        "minProperties": 5,
      }
    ]
  }
}
