defaults: &defaults
  working_directory: ~/user-agents
  docker:
    - image: cimg/node:21.1

whitelist: &whitelist
  paths:
    - .babelrc
    - .circleci/*
    - .clabot
    - .dir-locals.el
    - .eslintrc
    - .git/*
    - .github/*
    - .gitignore
    - .mocharc.cjs
    - .prettierignore
    - .prettierrc
    - .tool-versions
    - CLA.md
    - CONTRIBUTING.md
    - LICENSE
    - README.md
    - dist/*
    - media/*
    - package.json
    - src/*
    - test/*
    - tsconfig.json
    - tsup.config.ts
    - yarn.lock

version: 2
jobs:
  checkout:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install
      - save_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - persist_to_workspace:
          root: ~/user-agents
          <<: *whitelist

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/user-agents
      - restore_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
      - run:
          name: Lint
          command: |
            yarn lint
      - persist_to_workspace:
          root: ~/user-agents
          <<: *whitelist

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/user-agents
      - restore_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
      - run:
          name: Build
          command: |
            yarn gunzip-data
            yarn build
      - persist_to_workspace:
          root: ~/user-agents
          <<: *whitelist

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/user-agents
      - restore_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
      - run:
          name: Test
          command: |
            yarn test

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/user-agents
      - run:
          name: Write NPM Token to ~/.npmrc
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Install dot-json package
          command: npm install --no-save dot-json
      - run:
          name: Write version to package.json
          command: $(yarn bin)/dot-json package.json version ${CIRCLE_TAG:1}
      - run:
          name: Publish to NPM
          command: npm publish --access=public

  update:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/user-agents
      - restore_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
      - run:
          name: Update the user agents data
          command: |
            yarn update-data
      - store_artifacts:
          path: ~/user-agents/src/user-agents.json.gz
          destination: user-agents.json.gz
      - persist_to_workspace:
          root: ~/user-agents
          <<: *whitelist

  publish-new-version:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/user-agents
      - run:
          name: Commit the newly downloaded data
          command: |
            git add src/user-agents.json.gz
            # Configure some identity details for the machine deployment account.
            git config --global user.email "user-agents@intoli.com"
            git config --global user.name "User Agents"
            git config --global push.default "simple"
            # Disable strict host checking.
            mkdir -p ~/.ssh/
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
            # The status code will be 1 if there are no changes,
            # but we want to publish anyway to stay on a regular schedule.
            git commit -m 'Regularly scheduled user agent data update.' || true
      - run:
          name: Bump the patch (or prelease) version and trigger a new release
          command: |
            # Version, for example: `v2.0.0-alpha.0` or `v2.0.0`.
            CURRENT_VERSION=$(npm list --depth=0 user-agents | grep user-agents | awk -F'[@ ]' '{print $2}')
            if [[ $CURRENT_VERSION == *-* ]]; then
              # A hyphen means we're a prelease and want to bump the prerelease version.
              npm version prerelease
            else
              # Otherwise, this is a normal release and we bump the patch version.
              npm version patch
            fi
            npm version patch
            git push
            git push --tags

workflows:
  version: 2

  build:
    jobs:
      - checkout
      - lint:
          filters:
            tags:
              ignore: /v[0-9]+(\.[0-9]+)*/
          requires:
            - checkout
      - build:
          filters:
            tags:
              ignore: /v[0-9]+(\.[0-9]+)*/
          requires:
            - checkout
      - test:
          filters:
            tags:
              ignore: /v[0-9]+(\.[0-9]+)*/
          requires:
            - build

  release:
    jobs:
      - checkout:
          filters:
            tags:
              only: /v[2-9](\.[0-9]+)*/
            branches:
              ignore: /.*/
      - lint:
          filters:
            tags:
              only: /v[2-9](\.[0-9]+)*/
            branches:
              ignore: /.*/
          requires:
            - checkout
      - build:
          filters:
            tags:
              only: /v[2-9](\.[0-9]+)*/
            branches:
              ignore: /.*/
          requires:
            - lint
      - test:
          filters:
            tags:
              only: /v[2-9](\.[0-9]+)*/
            branches:
              ignore: /.*/
          requires:
            - build
      - deploy:
          filters:
            tags:
              only: /v[2-9](\.[0-9]+)*/
            branches:
              ignore: /.*/
          requires:
            - test

  scheduled-release:
    triggers:
      - schedule:
          cron: '30 06 * * *'
          filters:
            branches:
              only:
                - main

    jobs:
      - checkout
      - update:
          requires:
            - checkout
      - build:
          requires:
            - update
      - test:
          requires:
            - build
      - publish-new-version:
          requires:
            - test
